<form form #f="ngForm" (ngSubmit)="onSubmit(f)"  class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-1">
        <div class="input-group-append form-group">
          <input required #celsius="ngModel" type="number" class="form-control" id="celsius" placeholder="Celsius" name="celsius"
              [(ngModel)]="temperatura.celsius">
          <button class="btn btn-primary" type="submit">Converter</button>
        </div>
      </div>
      <br>
      <p *ngIf=" temperatura.fahrenheit !== '' " >
        {{ temperatura.celsius }} ºC equivale a {{ temperatura.fahrenheit }} ºF</p>
      <br>
      <p></p>
    </div>
  </div>
</form>